.card {
    width: 20rem;
    margin: auto;
    margin-top: 7rem;
}

.form {
    margin-left: 3em;
}

span{
    margin-bottom: 2em;
    width: 70px;
}

small {
  white-space: nowrap;
}

button {
    margin-top: 2em;
}

.p-float-label * {
  display: block;
}
